<div class="booking-tag">
    <ul>
        <li>
            <a href="flights.html">
                <i class="flaticon-flight"></i> Uçuşlar
            </a>
        </li>

        <li>
            <a href="checkin.html">
                <i class="flaticon-ticket"></i> Online Check-in
            </a>
        </li>

        <li>
            <a href="booking-list.html">
                <i class="flaticon-travel"></i> Rezervasyonlarım
            </a>
        </li>

        <li>
            <a href="kampanyalar.html">
                <i class="flaticon-discount"></i> Kampanyalar
            </a>
        </li>
    </ul>
</div>