<!-- slider-area -->
<section class="slider-area">
    <div class="slider-active">

        <!-- SLIDE 1 -->
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">
                                Uygun Fiyatlarla Dünyayı Keşfet
                            </h2>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                En popüler destinasyonlara avantajlı uçak biletleriyle hemen seyahatinizi planlayın.
                            </p>
                            <a href="flights.html" class="btn" data-animation="fadeInUp" data-delay=".6s">
                                Uçuş Ara
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SLIDE 2 -->
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">
                                Erken Rezervasyon Fırsatlarını Kaçırma
                            </h2>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                Şimdi rezervasyon yap, %30’a varan indirimlerle daha uygun fiyatlara uç.
                            </p>
                            <a href="kampanyalar.html" class="btn" data-animation="fadeInUp" data-delay=".6s">
                                Kampanyaları Gör
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SLIDE 3 -->
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg03.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">
                                Hızlı ve Kolay Rezervasyon
                            </h2>
                            <p data-animation="fadeInUp" data-delay=".4s">
                                Dakikalar içinde biletini al, online check-in ile zaman kazan.
                            </p>
                            <a href="login.html" class="btn" data-animation="fadeInUp" data-delay=".6s">
                                Giriş Yap / Kayıt Ol
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- slider-area-end -->